
<link rel="stylesheet" type="text/css" href="<%= assetPath('css/chat_box.css') %>">

<% if (locals.user){ %>

	<div id="user-chat-box">

	       <button id="close"> X </button>

	  		<ul id="chat-messages-list">

			<li class="other-message">
				<span>Other Message</span>
			</li>
			<li class="self-message">
				<span>
					Self Message
					<br>
				</span>
				
			</li>

		</ul>
		<div id="chat-message-input-container">
			<input id="chat-message-input" placeholder="Type message here">
			<button id="send-message">Send</button>
		</div>

	</div>
	<button id="message">CHAT-ROOM</button>
<% } %>

<script> 
 $('#message').click(function(){
           if($('#user-chat-box')[0].style.display !== "none"){
            $('#user-chat-box')[0].style.display = "none";
               $('#message')[0].style.display = "inline";
           }else{
            $('#user-chat-box')[0].style.display = "inline";
            $('#message')[0].style.display = "none";

           }
        });

  $('#close').click(function(){
             $('#message')[0].style.display = "inline";
             $('#user-chat-box')[0].style.display = "none";
        });
</script>
