
<link rel="stylesheet" href="<%= assetPath('css/sign_up.css') %>">

<div id="sign-up">

<h1> SIGN UP </h1>

<form action="/users/create" method="post">
    <div id="name">
    <label for="name"> NAME </label>
	<input type="text" name="name" placeholder="Your Name" required>
	</div>
	<div id="email">
    <label for="email"> EMAIL </label>
	<input type="email" name="email" placeholder="Your Email" required>
	</div>
	<div id="pass">
    <label for="password"> PASSWORD </label>
	<input type="password" name="password" placeholder="Your Password" autocomplete="off" required>
	</div>
	<div id="confirm-pass">
    <label for="confirm-passworrd"> CONFIRM PASSWORD </label>
	<input type="password" name="confirm_password" placeholder="Confirm Password" autocomplete="off" required>
	</div>

	<button type="submit">Sign Up</button>
	
</form>

<p>
	<a href="/users/auth/google">Google Sign In/Sign Up</a>
</p>

</div>