#footer{
	background-color:deeppink;
	height: 3rem;
	#wm{
      color: white;
      display: inline-block;
	  font-family: 'Comfortaa', cursive;
	}
	#footer-links{
		display: inline-block;
		margin: 0 1rem 0 1rem;
		#home-link{
			border-left:3px solid white;
			border-right:3px solid white;
			padding:0 1rem 0 1rem;
		}
		a{
			color: white;
			text-decoration: none;
		    font-family: 'Comfortaa', cursive;
		}
		:hover{
		    color: #111519;
		}
	}
}