
#sign-in-up-out{
	display: flex;
	justify-content: space-between;
	background: linear-gradient(to right,deeppink,#111519) ;
	height: 3rem;
	h1{
		color: pink;
		&:hover{
          color: #111519;
          cursor: pointer;
		}
		font-family: 'Fasthand', cursive;
		margin: 0 0 0 1rem;
	}
	ul{
	   li{
		display: inline;
		list-style: none;
		font-family: 'Comfortaa', cursive;
		margin: 2rem;
		font-size: large;
		:hover{
          color: hotpink;
              }
              a{
		         text-decoration: none;
		         color: white;
	            }
	      }
       }
}