   
   #reset-password{
   	margin: auto;
   	width: 16rem;
   	#enter-mail{
    text-align: center;
    height: 7rem;
   	background-color:hotpink;
   	border-radius:10px;
   	}
   	
   	h1{
		font-family: 'Comfortaa', cursive;
		color: #111519;
      
   	}
   	p{
		font-family: 'Comfortaa', cursive;
		color: white;
   	}
   	input{
   		border-radius: 5px;
   		background-color:pink;
   		&:focus{
   			outline: none;
   		}
   		border:none;
   		&::placeholder{
   			color: black;
   		}
   	}
   	button{
   		background-color: #111519;
   		color:white;
   		border: none;
   		border-radius: 5px;
        &:hover{
        	background-color:deeppink;
        }
   	}
   }