sub {
  display: block;
  color: grey; }

#user-chat-box {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 1px dashed grey;
  height: 350px;
  width: 300px;
  background: #111519;
  padding: 5px;
  box-shadow: 1px 1px 1px 1px lightgrey;
  display: none;
  border-radius: 20px; }
  #user-chat-box #close {
    background-color: red;
    color: black;
    border-radius: 50%;
    border: none; }
  #user-chat-box #chat-messages-list {
    list-style: none;
    padding: 10px;
    height: 70%;
    background-color: #111519;
    overflow: auto;
    color: white;
    display: block; }
    #user-chat-box #chat-messages-list .other-message {
      text-align: left;
      padding: 5px; }
      #user-chat-box #chat-messages-list .other-message span {
        display: inline-block;
        padding: 15px;
        border-radius: 10px;
        background-color: orange; }
    #user-chat-box #chat-messages-list .self-message {
      text-align: right;
      padding: 5px; }
      #user-chat-box #chat-messages-list .self-message span {
        display: inline-block;
        padding: 15px;
        border-radius: 10px;
        background-color: yellowgreen; }
  #user-chat-box #chat-message-input-container {
    height: 23%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: -1rem; }
    #user-chat-box #chat-message-input-container #chat-message-input {
      height: 50%;
      width: 70%;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      border: none; }
      #user-chat-box #chat-message-input-container #chat-message-input:focus {
        outline: none; }
    #user-chat-box #chat-message-input-container #send-message {
      height: 52%;
      width: 30%;
      font-size: 25px;
      color: white;
      border: none;
      background: hotpink;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px; }
      #user-chat-box #chat-message-input-container #send-message:hover {
        background: deeppink; }

#message {
  height: 2rem;
  width: 10rem;
  position: fixed;
  left: 85vw;
  top: 90vh;
  background-color: #111519;
  border-radius: 10px;
  border: 2px solid grey;
  font-family: 'Comfortaa', cursive;
  color: white; }
  #message:hover {
    background-color: black;
    border: 2px solid deeppink; }
