#sign-in-up-out {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, deeppink, #111519);
  height: 3rem; }
  #sign-in-up-out h1 {
    color: pink;
    font-family: 'Fasthand', cursive;
    margin: 0 0 0 1rem; }
    #sign-in-up-out h1:hover {
      color: #111519;
      cursor: pointer; }
  #sign-in-up-out ul li {
    display: inline;
    list-style: none;
    font-family: 'Comfortaa', cursive;
    margin: 2rem;
    font-size: large; }
    #sign-in-up-out ul li :hover {
      color: hotpink; }
    #sign-in-up-out ul li a {
      text-decoration: none;
      color: white; }
