#home-container {
  display: flex; }
  #home-container #create-post {
    border: none;
    background-color: pink;
    border-radius: 10px; }
    #home-container #create-post:focus {
      outline: none; }
    #home-container #create-post::placeholder {
      color: black; }
  #home-container #post-btn {
    border-radius: 10px;
    background-color: hotpink;
    color: black;
    border: none; }
    #home-container #post-btn:focus {
      outline: none; }
    #home-container #post-btn:hover {
      background-color: deeppink; }
  #home-container #posts-list-container {
    margin-left: -2rem; }
  #home-container #feed-posts {
    width: 70%;
    padding: 10px;
    background-color: #111519;
    height: 96.7vh; }
    #home-container #feed-posts h4 {
      color: white;
      font-family: 'Comfortaa', cursive;
      height: 1rem;
      background-image: linear-gradient(to right, hotpink, transparent);
      padding: 1rem 1rem 1rem 1rem;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px; }
  #home-container #users-container {
    width: 30%;
    padding: 10px;
    border-left: 1px solid #111519;
    height: 96.7vh;
    background-color: pink;
    position: fixed;
    left: 71vw; }
    #home-container #users-container .friends-of-user button {
      border-radius: 50%;
      border: none;
      color: black;
      background-color: hotpink; }
      #home-container #users-container .friends-of-user button:hover {
        background-color: deeppink; }
    #home-container #users-container .user-name {
      color: #111519;
      text-decoration: none;
      font-family: 'Comfortaa', cursive; }
      #home-container #users-container .user-name:hover {
        color: deeppink; }
    #home-container #users-container .user-head {
      height: 15rem;
      overflow-y: scroll; }
      #home-container #users-container .user-head h4 {
        color: white;
        font-family: 'Comfortaa', cursive;
        background-image: linear-gradient(to right, #111519, transparent);
        height: 1rem;
        padding: 1rem 1rem 1rem 1rem;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px; }
