#reset-password {
  margin: auto;
  width: 16rem; }
  #reset-password #enter-mail {
    text-align: center;
    height: 7rem;
    background-color: hotpink;
    border-radius: 10px; }
  #reset-password h1 {
    font-family: 'Comfortaa', cursive;
    color: #111519; }
  #reset-password p {
    font-family: 'Comfortaa', cursive;
    color: white; }
  #reset-password input {
    border-radius: 5px;
    background-color: pink;
    border: none; }
    #reset-password input:focus {
      outline: none; }
    #reset-password input::placeholder {
      color: black; }
  #reset-password button {
    background-color: #111519;
    color: white;
    border: none;
    border-radius: 5px; }
    #reset-password button:hover {
      background-color: deeppink; }
